/*Desktop*/
@media only screen and (min-width: 1023px) {
    .messagesection3{
        margin:100px auto 0px; 
        width:50%;
        border-radius:10px;
        padding:50px
    }
    .summary3{
        height:400px;
        width:21%;
        position:absolute;
        right:30px;
        top:250px;
        border-radius:10px
    }
    .messageInput3{
        width:70%;
        border-radius:5px;
    }
}

/*Mobile*/
@media only screen and (max-width: 700px) {
    .messagesection3{
        margin:40px auto 0px; 
        width:80%;
        border-radius:10px;
        padding:30px
    }
    .summary3{
        height:400px;
        width:80%;
        border-radius:10px;
        margin:20px auto;
    }
    .messageInput3{
        width:90%;
        border-radius:5px;
    }
}

/*Tablet*/
@media only screen and (min-width: 700px) and  (max-width: 1023px) {
    .messagesection3{
        margin:40px auto 0px; 
        width:80%;
        border-radius:10px;
        padding:50px
    }
    .summary3{
        height:400px;
        width:80%;
        border-radius:10px;
        margin:20px auto;
    }
    .messageInput3{
        width:90%;
        border-radius:5px;
    }
}